{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    
<h4 class="description">Hello! This is a simple website to help you get your AP Scores on the first day of release, no matter where you are!</h4>
<p class="description">Just click 'Get Scores' above, and log in with your CollegeBoard Credentials. <br/>Don't worry, we don't store any of your information, it's simply used to log in to College Board, then deleted! <br/> Still don't trust us? Check out our code on <a href="https://github.com/srujayk/EarlyAPScores">GitHub</a>.</p>

    
{% endblock %}