{% extends "layout.html" %}

{% block title %}
    My Scores
{% endblock %}

{% block main %}

    {% for exam in exams %}
    <h2> {{exam[0]}} ({{exam[1]}}) </h2>
    <table class="table table-striped" style="width:100%">
        <tr>
            <th style="width:70%">Exam</th>
            <th style="width:30%">Score</th>
        </tr>
        {% for score in exam[2] %}
        <tr>
            <td style="width:70%">{{ score[0] }}</td>
            <td style="width:30%">{{ score[1] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}

{% endblock %}
